  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8d0a8d;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-right: 10px;
}
button:hover {
  background-color: #c20ec2;
}



.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

h1 {
  text-align: center;
  color: #2d3748;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.subtitle {
  text-align: center;
  color: #718096;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}