@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Inter", sans-serif;

  --color-white: #fff;
  --color-black: #000;
  --color-primary: #f8859c;

  --color-text-900: #333;
  --color-text-600: #555;
  --color-text-3000: #dfdfdf;

  --color-border: #e0e0e0;
  --color-border-light: #c2d1dc;
  --color-error: #e74c3c;
  --color-muted: #999;

  --color-bg-light: rgba(255, 142, 182, 0.15);
  --color-bg-lighter: rgba(255, 142, 182, 0.06);
  --color-bg-overlay: rgba(255, 255, 255, 0.3);

  --color-blur: rgba(255, 0, 191, 0.5);

  --color-shadow-sm: rgba(0, 0, 0, 0.05);
  --color-shadow-md: rgba(0, 0, 0, 0.1);
  --color-shadow-lg: rgba(0, 0, 0, 0.3);
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-primary-alpha-10: rgba(248, 133, 156, 0.1);
  --color-primary-alpha-20: rgba(248, 133, 156, 0.2);
  --color-error-alpha-10: rgba(231, 76, 60, 0.1);
  --color-error-alpha-20: rgba(231, 76, 60, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
}

main {
  position: relative;
  top: 91px;
  margin-bottom: 91px;
  min-height: 100dvh;
}

@media(max-width: 600px) {
  main {
    top: 72px;
  }
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  padding-inline: 30px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}